
<h1 style="text-align:center;font-size:16pt;margin-bottom:20pt;">CONTRATO DE PRESTAÇÃO DE SERVIÇOS</h1>
<p style="text-align:center;margin-bottom:24pt;font-size:11pt;font-style:italic;">CLÁUSULAS E CONDIÇÕES ESPECIAIS</p>
<p style="text-align:justify;margin-bottom:18pt;">
<strong>CONTRATANTE:</strong> {{CLI_NOME}}, {{CLI_TIPO}}, inscrito no CPF/CNPJ nº {{CLI_DOC}},
residente/domiciliado em {{CLI_END}}, {{CLI_CIDADE}}/{{CLI_UF}}.
</p>
<p style="text-align:justify;margin-bottom:18pt;">
<strong>CONTRATADA:</strong> {{REU_NOME}}, {{REU_TIPO}}, inscrita no CPF/CNPJ nº {{REU_DOC}},
residente/domiciliada em {{REU_END}}, {{REU_CIDADE}}/{{REU_UF}},
representada neste ato por {{REU_REP}}.
</p>
<p style="text-align:justify;margin-bottom:12pt;">
As partes acima identificadas têm, entre si, justo e acertado o presente CONTRATO DE PRESTAÇÃO DE SERVIÇOS,
que se regerá pelas cláusulas a seguir:
</p>
<h3 style="margin:14pt 0 8pt;font-size:12pt;">CLÁUSULA 1. OBJETO</h3>
<p style="text-align:justify;margin-bottom:10pt;text-indent:1.5cm;">
O presente contrato tem como objeto a prestação dos serviços por parte da CONTRATADA em favor da CONTRATANTE,
especificados no Anexo I, parte integrante deste instrumento.
</p>
<h3 style="margin:14pt 0 8pt;font-size:12pt;">CLÁUSULA 2. VALOR E FORMA DE PAGAMENTO</h3>
<p style="text-align:justify;margin-bottom:10pt;text-indent:1.5cm;">
2.1 Pela execução dos serviços ora contratados, a CONTRATANTE pagará à CONTRATADA a importância de
<strong>R$ {{PROC_VALOR}}</strong>, na seguinte forma: {{GEN_2}}.
</p>
<h3 style="margin:14pt 0 8pt;font-size:12pt;">CLÁUSULA 3. PRAZO</h3>
<p style="text-align:justify;margin-bottom:10pt;text-indent:1.5cm;">
O prazo para conclusão dos serviços será de {{GEN_1}}, contado da assinatura deste instrumento.
</p>
<h3 style="margin:14pt 0 8pt;font-size:12pt;">CLÁUSULA 4. CONFIDENCIALIDADE</h3>
<p style="text-align:justify;margin-bottom:10pt;text-indent:1.5cm;">
As partes se comprometem a manter sigilo sobre todas as informações técnicas e comerciais obtidas em razão
deste contrato, sob pena de ressarcimento integral dos danos.
</p>
<h3 style="margin:14pt 0 8pt;font-size:12pt;">CLÁUSULA 5. RESCISÃO</h3>
<p style="text-align:justify;margin-bottom:10pt;text-indent:1.5cm;">{{GEN_3}}</p>
<p style="text-align:center;margin:40pt 0 20pt;">
E, por estarem assim justas e acordadas, assinam o presente contrato em 2 (duas) vias de igual teor e forma,
na presença das testemunhas abaixo.
</p>
<p style="text-align:center;margin-bottom:20pt;">{{DOC_CIDADE}}/{{DOC_UF}}, {{DOC_DATA}}.</p>
<div style="margin-top:60pt;">
<p style="text-align:center;">_______________________________________________________<br>
<strong>CONTRATANTE</strong><br>{{CLI_NOME}}<br>{{CLI_DOC}}</p>
<p style="text-align:center;margin-top:50pt;">_______________________________________________________<br>
<strong>CONTRATADA</strong><br>{{REU_NOME}}<br>{{REU_DOC}}</p>
<p style="text-align:center;margin-top:50pt;">
________________________________________ &nbsp;&nbsp;&nbsp; ________________________________________<br>
TESTEMUNHA 1: _______________ / CPF ______ &nbsp;&nbsp;&nbsp; TESTEMUNHA 2: _______________ / CPF ______
</p>
</div>