
<h1 style="text-align:center;font-size:16pt;margin-bottom:18pt;">NOTIFICAÇÃO EXTRAJUDICIAL</h1>
<p style="text-align:justify;margin-bottom:14pt;">
<strong>Remetente/Notificante:</strong> {{CLI_NOME}}, {{CLI_TIPO}}, inscrito no CPF/CNPJ nº {{CLI_DOC}},
residente/domiciliado em {{CLI_END}}, {{CLI_CIDADE}}/{{CLI_UF}},
representado por {{ADV_NOME}}, OAB/{{ADV_UF}} nº {{ADV_OAB}}.
</p>
<p style="text-align:justify;margin-bottom:14pt;">
<strong>Destinatário/Notificado:</strong> {{REU_NOME}}, {{REU_TIPO}}, inscrito no CPF/CNPJ nº {{REU_DOC}},
residentemente/domiciliado em {{REU_END}}, {{REU_CIDADE}}/{{REU_UF}}.
</p>
<h2 style="text-align:center;font-size:14pt;margin:18pt 0;">REF: COBRANÇA DE DÍVIDA / CUMPRIMENTO DE OBRIGAÇÃO</h2>
<p style="text-align:justify;margin-bottom:12pt;text-indent:1.5cm;">
Vimos, mui respeitosamente, por intermédio desta, NOTIFICAR Vossa Senhoria, em caráter de cobrança extrajudicial,
no sentido de, num prazo de ____ dias úteis contados do recebimento desta, proceda ao:
</p>
<h3 style="margin:14pt 0 8pt;font-size:12pt;">1. PAGAMENTO INTEGRAL DO VALOR DEVIDO</h3>
<p style="text-align:justify;margin-bottom:10pt;text-indent:1.5cm;">
Quantia correspondente a R$ {{PROC_VALOR}}, referente a {{GEN_1}}, conforme documentos que instruem o presente
(os quais fazem parte integrante deste ato).
</p>
<h3 style="margin:14pt 0 8pt;font-size:12pt;">2. FUNDAMENTAÇÃO JURÍDICA</h3>
<p style="text-align:justify;margin-bottom:10pt;text-indent:1.5cm;">{{GEN_3}}</p>
<h3 style="margin:14pt 0 8pt;font-size:12pt;">3. ADVERTÊNCIA FINAL</h3>
<p style="text-align:justify;margin-bottom:10pt;text-indent:1.5cm;">
Caso o pagamento/solução não seja efetuado dentro do prazo supramencionado, adotaremos as medidas judiciais cabíveis,
inclusive a propositura de ação para exigir o cumprimento da obrigação, acrescidos de juros, multa, correção monetária,
honorários advocatícios e custas processuais, na forma da lei.
</p>
<p style="text-align:justify;margin-bottom:18pt;">
Informamos que o depósito deverá ser efetuado na conta abaixo: {{GEN_2}}
</p>
<p style="text-align:center;margin:40pt 0 10pt;">Atenciosamente,</p>
<div style="text-align:center;margin-top:60pt;">
<div style="width:260px;border-top:1px solid #000;margin:0 auto 4pt;"></div>
<div style="font-weight:600;">{{ADV_NOME}}</div>
<div style="font-size:10pt;">OAB/{{ADV_UF}} nº {{ADV_OAB}} · Representante Legal do Notificante</div>
</div>
<p style="text-align:center;margin:30pt 0 0;font-size:10pt;">{{DOC_CIDADE}}/{{DOC_UF}}, {{DOC_DATA}}.</p>