
<p><strong>PETIÇÃO INICIAL</strong></p>
<p>-AUTOATENDIMENTO-</p>
<p>AO <strong>JUIZADO ESPECIAL CÍVEL DE {{PROC_FORUM_CIDADE}}- DF.</strong></p>
<table style="border:1px solid #ccc;border-collapse:collapse;width:100%;margin:10pt 0;">
  <tr><td style="padding:8pt;border:1px solid #ccc;"><p><strong>PRIORIDADE NA TRAMITAÇÃO</strong></p><p>(Se for o caso, marque <strong>X</strong> sua condição)</p></td></tr>
  <tr><td style="padding:6pt;border:1px solid #ccc;">( &nbsp;&nbsp;) IDOSO (=+ 60 anos)</td></tr>
  <tr><td style="padding:6pt;border:1px solid #ccc;">( &nbsp;&nbsp;) IDOSO (+ 80 anos)</td></tr>
  <tr><td style="padding:6pt;border:1px solid #ccc;">( &nbsp;&nbsp;) Pessoa com Deficiência</td></tr>
  <tr><td style="padding:6pt;border:1px solid #ccc;">( &nbsp;&nbsp;) Pessoa com Doença grave</td></tr>
  <tr><td style="padding:6pt;border:1px solid #ccc;"><p>* Juntar documento que comprove a condição.</p></td></tr>
</table>
<table style="border:1px solid #ccc;border-collapse:collapse;width:100%;margin:10pt 0;">
  <tr><td style="padding:8pt;border:1px solid #ccc;"><p><strong>OPÇÕES DE ATENDIMENTO DIGITAL</strong></p></td></tr>
  <tr><td style="padding:6pt;border:1px solid #ccc;">( &nbsp;&nbsp;) Eu quero aderir ao juízo 100% digital, e estou ciente dos termos e condições da Portaria Conjunta 29/2021.</td></tr>
  <tr><td style="padding:6pt;border:1px solid #ccc;">( &nbsp;&nbsp;) Eu aceito receber intimações pelo WhatsApp no número indicado nesta petição, e estou ciente dos termos e condições da Portaria Conjunta 67/2016.</td></tr>
</table>
<p style="text-align:justify;text-indent:0;margin:8pt 0;">
<strong><em>PARTE REQUERENTE</em>: </strong> <strong>{{CLI_NOME}}</strong>, nacionalidade: <strong>{{CLI_NAC}}</strong>, estado civil: <strong>{{CLI_EC}}</strong>, profissão: <strong>{{CLI_PROF}}</strong>, filiação: <strong>{{CLI_FILIACAO}}</strong>, portador da Carteira de Identidade/CNH nº: <strong>{{CLI_RG}}</strong>, órgão expedidor/UF: <strong>{{CLI_RG_ORGAO}}</strong>, data da expedição: <strong>{{CLI_RG_EXPEDICAO}}</strong>, inscrito no CPF sob o nº: <strong>{{CLI_DOC}}</strong>, residente e domiciliado na <strong>{{CLI_END}}</strong>, Cidade: <strong>{{CLI_CIDADE}}</strong>, CEP: <strong>{{CLI_CEP}}</strong>, telefone(s): <strong>{{CLI_TEL}}</strong>, WhatsApp: <strong>{{CLI_WHATSAPP}}</strong>, e-mail: <strong>{{CLI_EMAIL}}</strong>, vem, à presença de Vossa Excelência, propor a presente
</p>
<h1 style="text-align:center;font-size:14pt;margin:16pt 0 8pt;">AÇÃO DE {{PROC_ASSUNTO}}</h1>
<p style="text-align:justify;text-indent:0;margin:8pt 0;">
em face da <strong><em>PARTE REQUERIDA</em></strong>: <strong>{{REU_PJ_RAZAO}}</strong>, pessoa jurídica de direito privado, inscrita no CNPJ sob o nº <strong>{{REU_PJ_CNPJ}}</strong>, com endereço: <strong>{{REU_PJ_END}}</strong>, Cidade: <strong>{{REU_PJ_CIDADE}}</strong>, CEP: <strong>{{REU_PJ_CEP}}</strong>, telefone(s): <strong>{{REU_PJ_TEL}}</strong>, WhatsApp: <strong>{{REU_PJ_WHATSAPP}}</strong>, e-mail: <strong>{{REU_PJ_EMAIL}}</strong>, pelas razões de fato e de direito a seguir aduzidas.
</p>
<p style="margin-top:18pt;"><strong>DOS FATOS</strong></p>
<p style="text-align:justify;text-indent:1.25cm;">Em <strong>{{PROC_DATA_EVENTO}}</strong>, a parte requerente informa que {{GEN_3}}</p>
<p style="text-align:justify;text-indent:1.25cm;">Por restar infrutífero qualquer acordo amigável, propõe a parte requerente a presente ação.</p>
<p style="margin-top:18pt;"><strong>DOS PEDIDOS</strong></p>
<p style="text-align:justify;text-indent:0;">Com base no exposto, requer:</p>
<ol>
  <li style="margin-bottom:6pt;">que a parte requerida seja citada da presente ação e intimada para comparecer pessoalmente à Audiência de Conciliação, a ser designada no ato da distribuição, sendo que o não comparecimento importará a pena de revelia;</li>
  <li style="margin-bottom:6pt;">No <strong>mérito</strong>, que seja julgado procedente o pedido para condenar a parte requerida {{GEN_1}}.</li>
</ol>
<p>Pretende demonstrar o alegado por todos os meios de prova admitidos em Direito.</p>
<p style="text-indent:0;margin:12pt 0;">Atribui à causa o valor de <strong>R$ {{PROC_VALOR}}</strong>.</p>
<p style="text-align:center;margin:28pt 0 10pt;">Nestes termos, pede deferimento.</p>
<p style="text-align:center;">{{DOC_CIDADE}}/{{DOC_UF}}, {{DOC_DATA}}.</p>
<p style="text-align:center;margin-top:60pt;">______________________________________________________</p>
<p style="text-align:center;">ASSINATURA DA PARTE REQUERENTE</p>